.dorkerbox {
  color: white;
  border: 2px solid red;
}

.dorkerbox--ddg {
  padding-left: 150px;
  padding-right: 150px;
  max-width: var(--max-content-width);
}

@media only screen and (max-width: 1350px) {
  .dorkerbox--ddg {
    padding-left: 94px;
    padding-right: 94px;
  }
}

@media only screen and (max-width: 1079px) and (min-width: 591px) {
  .dorkerbox--ddg {
    padding-left: 82px;
    max-width: calc(var(--max-content-width) - 58px);
  }
}

@media only screen and (max-width: 1079px) {
  .dorkerbox-ddg {
    padding-left: 58px;
    padding-right: 58px;
  }
}

@media only screen and (max-width: 864px) {
  .dorkerbox--ddg {
    padding-right: 45px;
    display: inline-block;
  }
}

@media only screen and (max-width: 590px) {
  .dorkerbox--ddg {
    padding-left: 7px;
    padding-right: 7px;
  }
}

.dorkerbox__inner {
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
  padding: 1em 0 1em;
}

.dork {
  overflow: hidden;
  border: 2px solid orange;
  border-radius: 1em;
}

.button {
  padding: 1em;
  background-color: white;
  border: 0;
}

.input {
  padding: 1em;
}

.dork__edit, .dork__accept {
  border-left: 2px solid orange;
  border-right: 2px solid orange;
}

.dorkerbox__add {
  border: 2px solid orange;
  border-radius: 1em;
}
