.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 100%;
  padding: 10px;
  color: var(--dorkerbox-text-color);
  background-color: var(--dorkerbox-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}

.App__header {
  width: 200px;
  text-align: center;
}

.App__heading {
  width: 200px;
  text-align: left;
}

.App__link {
  color: #61dafb;
}

.App .App__theme-toggler {
  width: 200px;
  margin: .5em 0;
  padding: .5em;
  border: 2px solid var(--dorkerbox-accent-color);
  border-radius: calc(var(--dorkerbox-border-radius) * .01em);
  color: var(--dorkerbox-text-color);
  background-color: var(--dorkerbox-bg-color);
}

.App .slider {
  width: 200px;
  margin: .8em 0;
}

.App .slider__track {
  top: 0;
  height: 4px;
  background: var(--dorkerbox-accent-color);
  transform: translate(0, -50%);
}

.App .slider__track.slider__track-0,
.App .slider__track.slider__track-1 {
  background: var(--dorkerbox-accent-color);
  border-radius: 2px;
}

.App .slider__thumb {
  cursor: pointer;
  /*color for the thumb */
  background: var(--dorkerbox-accent-color);
  /* background: transparent; */
  /* shape of the thumb: circle */
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  border-radius: 100%;
  border: 2px solid #fff;
  /* remove default outline when selected */
  outline: none;
  transform: translate(0, -50%);
}

.App__color-wrapper {
  border: 2px solid var(--dorkerbox-accent-color);
  border-radius: 10px;
  margin: .8em 0 .8em;
}

.App__color-input {
  appearance: auto;
  padding: 1em;
  background: none;
  outline: none;
  border: none;
  color: var(--dorkerbox-text-color);
}

.App__engine-block {
  /* border: 1px solid var(--dorkerbox-text-color); */
  border-radius: 10px;
  width: 200px;
  margin-top: .5em;
}

.App .engine-toggle {
  padding: .3em .3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App .engine-toggle {
  border-top: 1px solid var(--dorkerbox-accent-color);
}

.App .engine-toggle:first-child {
  border-top: none !important;
}